body {
    background-color: rgb(255, 243, 226);
    text-align: justify;

}

main { 
    display: flex;
    justify-content: center;
}

#menu {
    margin-inline-end: 30px;
}

#principal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
    border: 1px solid rgb(211, 210, 210);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orangered;
}

a,h1,h2,h3,h4,h5,h6,p,li {
    font-family: Arial, Helvetica, sans-serif;
    
}

a,p,li {
    font-size: 0.9em;
}

.tiposResaltado {
    background-color: rgb(159, 217, 255);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

#ejemploImagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#img1 {
    width: 500px
}

#saltosLinea {
    display: flex;
    flex-direction: column;
}

li {
    margin-bottom: 10px;
}

#btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    margin-top: 50px;
}